* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
/* color scheme */
:root {
  --primary-color: #c1ce4c;
  --secondary-color: #01140f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
h2 {
  font-size: 3rem;
  color: var(--secondary-color);
}
h2 {
  font-size: 3rem;
  color: var(--secondary-color);
}header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  background-color: var(--secondary-color);
  position: relative;
}
h1 {
  background-color: var(--primary-color);

  padding: 10px;
  padding-left: 40px;
  color: var(--secondary-color);
  font-size: 2.5rem;
}

.nav {
  margin-right: 45px;
  display: flex;
}

.nav a {
  position: relative;
  margin-right: 40px;
  text-decoration: none;
  color: var(--primary-color);
}
/* add transition effect to my nav links*/
.nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleY(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ca0000;
  transform-origin: bottom;
  transition: transform 0.55s ease-out;
}
.nav a:hover::after {
  transform: scaleY(9);
  transform-origin: bottom;
  background-color: red;
}

.hero-banner {
  display: flex;
  height: 300px;
  position: relative;
  align-items: end;
  justify-content: right;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
}
.hero-banner::before {
  content: "";
  position: absolute;
  top: 75px;
  left: 50px;
  width: 150px;
  height: 150px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  background-image: url(../images/header1.jpg);
}

.hero-text {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 10px;
  margin-right: 55px;
}

.page-wrapper {
  margin-right: 100px;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 150px 350px 200px 200px 200px;
  grid-template-columns: 20% 40% 40%;
  grid-template-areas:
    "aboutme text text"
    "work project1 project1"
    "work project2 project3"
    "work project4 project5"
    "contact-left contact-right contact-right";
}

#about {
  grid-area: aboutme;
  border-right: solid var(--secondary-color) 10px;
  text-align: right;
  padding-right: 20px;
}

.text {
  grid-area: text;
  display: flex;
  font-size: 1.3rem;
  align-items: center;
}

#work {
  grid-area: work;
  border-right: solid var(--secondary-color) 10px;
  text-align: right;
  padding-right: 20px;

}


/* this section contains titled images of my applications */
/* When images of the applications are clicked then the user is taken to that deployed application */

#project1 {
  grid-area: project1;
  position: relative;
  border: solid var(--primary-color) 8px;

  background-image: url(../images/02-portfolio-1.jpg);
  background-size: cover;

  z-index: 1;
}

#project2 {
  grid-area: project2;
  position: relative;
  border: solid var(--primary-color) 8px;
  width: 100%;
  height: 100%;
  background-image: url(../images/02-portfolio-2.jpg);
  background-size: cover;

  z-index: 1;
}
#project3 {
  grid-area: project3;
  position: relative;
  border: solid var(--primary-color) 8px;

  background-image: url(../images/02-portfolio-3.jpg);
  background-size: cover;

  z-index: 1;
}
#project4 {
  grid-area: project4;
  position: relative;
  border: solid var(--primary-color) 8px;

  background-image: url(../images/digital-marketing-meeting.jpg);
  background-size: cover;

  z-index: 1;
}

#project5 {
  grid-area: project5;
  position: relative;
  border: solid var(--primary-color) 8px;

  background-image: url(../images/02-run-buddy.jpg);
  background-size: cover;

  z-index: 1;
}

#headline {
  min-width: 200px;
  position: absolute;
  bottom: 30px;
  text-align: left;
  padding-left: 30px;
  justify-content: right;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  z-index: 1;
}
/* add opacity effect */
#project1::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 1s;
}
#project2::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 1s;
}
#project3::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 1s;
}
#project4::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 1s;
}
#project5::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 1s;
}

#project1:hover::before {
  background-color: rgba(0, 0, 0, 0);
}

#project2:hover::before {
  background-color: rgba(0, 0, 0, 0);
}
#project3:hover::before {
  background-color: rgba(0, 0, 0, 0);
}
#project4:hover::before {
  background-color: rgba(0, 0, 0, 0);
}
#project5:hover::before {
  background-color: rgba(0, 0, 0, 0);
}

#contact {
  grid-area: contact-left;
  border-right: solid var(--secondary-color) 10px;
  text-align: right;
  padding-right: 20px;
}

.hover-link {
  position: relative;
  grid-area: contact-right;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* add transition effect to my contact links */
.hover-link a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.hover-link a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleY(1);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom;
  transition: transform 0.55s ease-out;
  opacity: 0.8;
}

.hover-link a:hover::after {
  transform: scaleY(9);
  transform-origin: bottom;
  opacity: 0.8;
}
